{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}

<style>

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} 
.button2 {background-color: #008CBA;} 

</style>



<button class="button button1"> <a href="{% url 'materialcreate' %}">CREATE</button>

<button class="button button2"><a href="{% url 'materialview' %}">VIEW</button>

{% endblock %}
